@charset "euc-jp";

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

・ヘッダー
・コンテンツ
・フッター

ポップアップ用
・ヘッダー
・コンテンツ
・フッター

::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


/* =========================================================================
 header：ヘッダー
------------------------------------------------------------------------- */
#header{
	width:910px;
	margin:0 auto;
	border-top:5px solid #000000;
	padding-top:2px;
	text-align:left;
}

/* グローバルナビゲーション
------------------------------------------------------------------------- */

#globalNav{
/*	background:url(/images/navi/url.gif) no-repeat right;*/
	margin-top:13px;
}

#globalNav li{
	float:left;
}

/* =========================================================================
 contents：コンテンツ
------------------------------------------------------------------------- */

#contents{
	width:902px;
	margin:10px auto 20px;
	text-align:left;
}

/* 2階層目以降共通設定
------------------------------------------------------------------------- */
/* ----- パンくず ----- */
ul#topicPath{
}

/* =========================================================================
 footer：フッター
------------------------------------------------------------------------- */
#footer{
	padding-bottom:20px;
}

